header {
    background-color: $dark-green;
    position: fixed;
    z-index: 15;
    top: 0;
    width: 100%;
    #header {
      @include flexbox();
      height: 75px;
      h4 {
        color: $secondary-color;
      }
      nav {
          @include flexbox();
        ul {
          @include flexbox();
          column-gap: 32px;
          li {
            a {
              font-family: "Plus Jakarta Sans";
              font-weight: 400;
              font-size: 16px;
              line-height: normal;
              text-decoration: none;
              color: $secondary-color;
              @include flexbox();
            }
          }
        }
      }
      .buttons{
          display: flex;
          column-gap:12px;
        .sign-up {
          @extend %primary-button;
          background-color: $primary-green;
          color: $dark-green;
        }
        .log-in {
          @extend %primary-button;
          color: $secondary-color;
          background-color: transparent;
        }
      }
      img{
          display: none;
          width: 50px;
      }
    }
  }
  
  @media only screen and (max-width:767px){
      header{
          #header{
              nav{
                  display: none;
              }
              .buttons{
                  display: none;
              }
              img{
                  display: block ;
              }
          }
      }
  }