header{
    background-color:$dark-green;
    color: $bg-light;
    height: 75px;
    font-family: 'Raleway' sans-serif;
    // @include flexBox();
    
    .header{
        @include flexBox();
        padding: 30px;
        height: 32px;
        // gap: 250px;
        height: 0px;
        
        nav{
            ul{
                @include flexBox();
                gap: 45px;
                li{
                    a{
                        color: $bg-light;
                        @include textsize();
                        font-family: 'Raleway' sans-serif;
                    }
                }
            }
        }
        .end{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            .btn-sign{
                background-color:$primary-green;
                padding:10px, 16px, 10px, 16px;
                border-radius: 8px;
                width: 82px;
                height: 41px;
                gap: 60px;
            }
        }
    }
}
section{
    .content{
        display: flex;
            .text{
                width: 50%;
                row-gap: 30px;
            }
            .image{
                .girl{
                width: 50%;
                height: 490px;
                width: 415px;
                left: 875px;
                top: 125px;
                border-radius: 12px;
                }

            }
    }
}