footer{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    .foot{
        display: flex;
        column-gap: 350px;
        color: rgb(68, 68, 68);
        .foot1{
            h2{
                color: black;
            }
            ul{
                list-style-type: none;
                text-decoration: none;
                li{
                    a{
                        text-decoration: none;
                        color: rgb(68, 68, 68);
                    }
                }
            }
        }
    }

}