@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
$secondary-color:#FFFFFF;
$primary-green: #B8E4DA;
$primary-light:#DCF2ED;
$dark-green: #20484F;
$bg-dark:#072125;